<section class="cart-show">

  <header class="page-header">
    <h1>Cart Is Empty!</h1>
  </header>

  <div class="panel panel-default items">
    <a class="alert alert-secondary" role="alert" href="<%= root_path %>">
        Click here to keep shopping!    
    </a>
  </div>


</section>
